# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Environment files
.env
.env.*

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/
.idea/*

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/android/app/src/main/kotlin/io/flutter/plugins/GeneratedPluginRegistrant.kt
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android Specific
.gradle/
android/.gradle/
android/local.properties
android/captures/
android/app/debug/
android/app/profile/
android/app/release/
*.keystore
*.jks
key.properties

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json
